<%- include("./partials/header") %>

<div class="container below-nav">
    <h4>WE STUDY TOGETHER , WE WIN TOGETHER</h4>  

    <hr class=" shadow mx-3">
    <div class="row text-center " style="display:flex;flex-wrap:wrap">
      <%course.forEach(function(course){%>
      <div class="col-md-3 col-sm-6 mx-4 mb-2">
        
          <div class="card" style="width: 18rem;">
            <img src="<%=course.images[0].url%>" class="card-img-top">
           

            <div class="card-body">
              <h5 class="card-title"> <%=course.subject%></h5>
              <h4><%=course.contentNo%></h4>
          
              <p class="card-text"><%=course.decription%></p>
          </div>
          <form action="/course/<%= course._id%>" method="GET">
          <p>
            <button  class="stretched-link">enroll</button>
          </p>
        </form>
      
        </div>
        
        
    </div>
      
        
    
    <%})%>
      </div>
</div>




   




<%- include("./partials/footer") %>