<%- include("./partials/header") %>

<div class="container below-nav">
    <h4>Recently added course</h4>  

    <hr class=" shadow mx-3">
    <div class="row text-center " style="display:flex;flex-wrap:wrap">
      <%course.forEach(function(course){%>
      <div class="col-md-3 col-sm-6 mx-4 mb-2">
        
          <div class="card" style="width: 18rem;">
            <img src="<%=course.image%>" class="card-img-top">

            <div class="card-body">
              <h5 class="card-title"> <%=course.brand%></h5>
              <h4><%=course.product%></h4>
              <h3>R<%=course.price%> each</h3>
              <p class="card-text"><%=course.decription%></p>
          </div>
          <form action="/course/<%= product._id%>" method="GET">
          <p>
            <button  class="stretched-link">add to cart</button>
          </p>
        </form>
      
        </div>
        
        
    </div>
      
        
    
    <%})%>
      </div>
    




   




<%- include("./partials/footer") %>