<%- include("./partials/header") %>

<div class="container below-nav">
<div class="row">
    <div class="col-sm-6">
<h2>detail</h2>

    </div>

     <div class="col-sm-6">  

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="<%= course.video %>" allowfullscreen></iframe>
      </div>
    <div class="caption-full">
        <h4 class="pull-right">
            <a>	<%=course.subject%></a>
        </h4>
        
        <p>
           <%= course.description%>
</p>

        <a class="btn btn-xs btn-warning" href="/course/<%=course._id%>/edit">edit</a>
        <form class="delete-form" action="/course/<%=course._id%>?_method=DELETE" method=POST>
            <button  class="btn btn-xs btn-danger">
                delete
            </button>
        </form>
    </div> 
    </div>
</div>

</div>











<%- include("./partials/footer") %>